<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Page</title>
</head>
<body>
<h1>{{pageTitle}}</h1>
<p>page's being updated stay tuned for updates!</p>
</body>
{{> footer}}
</html>